# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [16]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [3]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

Step No.1 
I import requests and request access.

In [17]:
url = "https://github.com/trending/developers"
page = requests.get(url)

if(page.status_code==200):
    print('Yes, baby!')
else:
    print('Failed')
    print('status_code: ', page.status_code)

Yes, baby!

In [48]:
#I first print the content, so in order to make analaysis better, I navigate using BeautifulSoup, using html parser. 
soup = BeautifulSoup(page.content, 'html.parser') 
pretty_object =soup.prettify()
#print(pretty_object)
#pretty_object[0:100]

#Can I use pretty_object[0:1000], the object does not look "prettified" anymore, ayway just to show some part of the object

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [73]:
# your code here
#soup.find_all(class_="h3 lh-condensed")
all_names_lst = []
for link in soup.find_all('h1',class_="h3 lh-condensed"):
    #print(link.find('a').get('href').strip('/')+ ' ('+ link.get_text().strip()+')')
    all_names_lst.append(link.find('a').get('href').strip('/')+ ' ('+ link.get_text().strip()+')')
all_names_lst

    
#soup.get_text() #- I get text
#print(all_names_lst.get_text())

['frenck (Franck Nijhof)',
 'MilosKozak (Milos Kozak)',
 'dtolnay (David Tolnay)',
 'wcandillon (William Candillon)',
 'asvetliakov (Alexey Svetliakov)',
 'willmcgugan (Will McGugan)',
 'omry (Omry Yadan)',
 'LeCoupa (Julien Le Coupanec)',
 '42wim (Wim)',
 'luanpotter (Luan Nico)',
 'unixorn (Joe Block)',
 'toji (Brandon Jones)',
 'muukii (Hiroshi Kimura)',
 'lucidrains (Phil Wang)',
 'thomasloven (Thomas Lovén)',
 'hairyhenderson (Dave Henderson)',
 'adamchainz (Adam Johnson)',
 'prabirshrestha (Prabir Shrestha)',
 'zeux (Arseny Kapoulkine)',
 'arvidn (Arvid Norberg)',
 'PySimpleGUI (PySimpleGUI)',
 'tony (Tony Narlock)',
 'felixonmars (Felix Yan)',
 'robertmartin8 (Robert Martin)',
 'mlocati (Michele Locati)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [74]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [81]:
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser') 
#print(soup.prettify())
all_links =[]
for link in soup.find_all('h1',class_="h3 lh-condensed"):
    all_links.append(link.find('a').get('href').strip('/'))
all_links

['ChinaVolvocars/jd_maotai_seckill',
 'sherlock-project/sherlock',
 'boston-dynamics/spot-sdk',
 'ytdl-org/youtube-dl',
 'mxrch/GHunt',
 'lucidrains/vit-pytorch',
 'donnemartin/system-design-primer',
 'spesmilo/electrum',
 'willmcgugan/rich',
 'swisskyrepo/PayloadsAllTheThings',
 'facebookresearch/TransCoder',
 'owid/covid-19-data',
 'eriklindernoren/ML-From-Scratch',
 'jerry3747/taobao_seckill',
 'pythonstock/stock',
 'PaddlePaddle/PaddleOCR',
 'PiotrMachowski/Xiaomi-cloud-tokens-extractor',
 'bitcoin/bips',
 'devicons/devicon',
 'vineetjohn/daily-coding-problem',
 'OctoPrint/OctoPrint',
 'loseys/Oblivion',
 'python-telegram-bot/python-telegram-bot',
 'LonamiWebs/Telethon',
 'sammchardy/python-binance']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [82]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [87]:
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser') 
#print(soup.prettify())
#class="thumbimage"
imglst = []
for link in soup.find_all('a',class_="image"):
    imglst.append(link.get('href').strip())
imglst

['/wiki/File:Walt_Disney_1946.JPG',
 '/wiki/File:Walt_Disney_1942_signature.svg',
 '/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 '/wiki/File:Trolley_Troubles_poster.jpg',
 '/wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '/wiki/File:Steamboat-willie.jpg',
 '/wiki/File:Walt_Disney_1935.jpg',
 '/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 '/wiki/File:Disney_drawing_goofy.jpg',
 '/wiki/File:DisneySchiphol1951.jpg',
 '/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 '/wiki/File:Walt_disney_portrait_right.jpg',
 '/wiki/File:Walt_Disney_Grave.JPG',
 '/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '/wiki/File:Disney_Display_Case.JPG',
 '/wiki/File:Disney1968.jpg',
 '/wiki/File:Animation_disc.svg',
 '/wiki/File:P_vip.svg',
 '/wiki/File:Magic_Kingdom_castle.jpg',
 '/wiki/File:Video-x-generic.svg',
 '/wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 '/wiki/File:Blank_television_set.svg',
 '/wiki/File:Flag_of_the_United_States.svg']

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [93]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [95]:
# your code here
import re

page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser') 
 
for tag in soup.find_all(class_=re.compile("central-featured-lang")):
    print(tag.get_text().strip())

English
6 222 000+ articles
日本語
1 246 000+ 記事
Deutsch
2 519 000+ Artikel
Español
1 651 000+ artículos
Français
2 285 000+ articles
Русский
1 688 000+ статей
Italiano
1 663 000+ voci
中文
1 168 000+ 條目
Português
1 051 000+ artigos
Polski
1 447 000+ haseł

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [98]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [104]:
table = pd.read_html(url,match='Speakers')
table[0].head(10)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[9],341.0,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,228.0,2.961%,Indo-European,Indo-Aryan
5,6,Portuguese,221.0,2.870%,Indo-European,Romance
6,7,Russian,154.0,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662%,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [107]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [116]:
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser') 
movies = pd.DataFrame(columns = ['Movie Title','IMDB Rating','Director Name'])
table = soup.find(class_='lister-list')
rows = table.findAll('tr')
for line in rows:
    title = line.find(class_='titleColumn').get_text().replace('\n',' ').strip()
    rating = line.find(class_='ratingColumn imdbRating').get_text().strip()
    dire = line.find(class_='titleColumn').find('a')['title']
    df = pd.DataFrame({'Movie Title':[title],'IMDB Rating':[rating],'Director Name':[dire]})
    movies = movies.append(df)
movies

,Movie Title,IMDB Rating,Director Name
0,1. Die Verurteilten (1994),9.2,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
0,2. Der Pate (1972),9.1,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
0,3. Der Pate 2 (1974),9.0,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
0,4. The Dark Knight (2008),9.0,"Christopher Nolan (dir.), Christian Bale, Heat..."
0,5. Die zwölf Geschworenen (1957),8.9,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"
...,...,...,...
0,246. Die Braut des Prinzen (1987),8.0,"Rob Reiner (dir.), Cary Elwes, Mandy Patinkin"
0,247. Schlacht um Algier (1966),8.0,"Gillo Pontecorvo (dir.), Brahim Hadjadj, Jean ..."
0,248. Drishyam (2015),8.0,"Nishikant Kamat (dir.), Ajay Devgn, Shriya Saran"
0,249. Fanny und Alexander (1982),8.0,"Ingmar Bergman (dir.), Bertil Guve, Pernilla A..."
0,250. Koe no katachi (2016),8.0,"Naoko Yamada (dir.), Miyu Irino, Saori Hayami"

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [122]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [132]:
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser') 
movies = pd.DataFrame(columns = ['Movie Title','Summary'])
table = soup.find(class_='lister-list')
rows = table.find_all(class_='lister-item mode-detail')
for line in rows:
    name = line.find(class_='lister-item-header').get_text().strip()
    summary = line.find('p',class_='').get_text().strip()
    df = pd.DataFrame({'Movie Title':[name],'Summary':[summary]})
    movies = movies.append(df)
movies

,Movie Title,Summary
0,1.\nNightmare - Mörderische Träume\n(1984),The monstrous spirit of a slain child murderer...
0,2.\nZeit des Erwachens\n(1990),The victims of an encephalitis epidemic many y...
0,3.\nEine Klasse für sich\n(1992),Two sisters join the first female professional...
0,4.\nIn den Straßen der Bronx\n(1993),A father becomes worried when a local gangster...
0,5.\nAngels - Engel gibt es wirklich\n(1994),When a boy prays for a chance to have a family...
...,...,...
0,96.\nBurning Palms\n(2010),A subversive tale that interlaces five stories...
0,97.\nBad Teacher\n(2011),"A lazy, incompetent middle school teacher who ..."
0,98.\nBrautalarm\n(I) (2011),Competition between the maid of honor and a br...
0,99.\nChucky - Die Mörderpuppe\n(1988),A single mother gives her son a much sought-af...
0,100.\nCry-Baby\n(1990),"In 1950s Baltimore, a bad boy with a heart of ..."

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here